<div style="width:100%;display:block;">
  <h5>{{authority.name}}</h5>
  <h7>id: {{authority.id}}</h7>
</div>

{{#each addableGrantCollections as |coll|}}
<div style="width:49%;display:inline-block;min-height:50px;border:1px solid black;">
<div style="width:100%">
<h7>current {{coll.token.title}} authorizations</h7>
<p>
<table>
{{#each coll.members as |member|}}
<tr><td>{{member.title}}</td><td><button {{action "removeGrant" member coll.token}}>remove</button></td></tr>
{{/each}}
</table>
</p>
</div>

<div style="width:100%; border-top:1px solid black;">
<h7>addable {{coll.token.title}} authorizations</h7>
<p>
<table>
{{#each coll.addables as |addable|}}
<tr><td>{{addable.title}}</td><td><button {{action "addGrant" addable coll.token}}>add</button></td></tr>
{{/each}}
</table>
</p>
</div>
</div>
{{/each}}