<h5>Group: {{group.name}}</h5>
<br>
<h7>Id: {{group.id}}</h7>

<div style="border: 1px solid black;">
<h8>group members</h8>
<table>
{{#each group.users as |member|}}
<tr><td>{{member.name}}</td><td><button {{action "removeUser" member}}>remove user</button></td></tr>
{{/each}}
</table>
</div>

<div style="border: 1px solid black;">
<h8>sub groups</h8>
<table>
{{#each group.subGroups as |group|}}
<tr><td>{{group.name}}</td><td><button {{action "removeSubGroup" group}}>remove subgroup</button></td></tr>
{{/each}}
</table>
</div>

{{#collapsible-division header="add users"}}
{{#if noMoreAddableUsers}}
  <i>no more addable users</i>
{{else}}
  <table>
  {{#each addableUsers as |user|}}
    <tr><td>{{user.name}}</td><td><button {{action "addUser" user}}>add user</button></td></tr>
  {{/each}}
  </table>
{{/if}}
{{/collapsible-division}}

{{#collapsible-division header="add sub groups"}}
{{#if noMoreAddableSubGroups}}
  <i>no more addable sub groups</i>
{{else}}
  <table>
  {{#each addableSubGroups as |group|}}
    <tr><td>{{group.name}}</td><td><button {{action "addSubGroup" group}}>add sub group</button></td></tr>
  {{/each}}
  </table>
{{/if}}
{{/collapsible-division}}

<button {{action "manageAuthorizationsGroup" group}}>manage authorizations</button>

