<h5>User: {{user.name}}</h5>
<br>
<h7>Id: {{user.id}}</h7>

{{#collapsible-division header="groups" expanded=true}}
  {{#if hasNoGroups}}
    <i>{{user.name}} belongs to no group, you can add {{user.name}} to a group by going to the detail screen of the group to which you want to add him</i>
  {{else}}
    <table>
    {{#each user.userGroups as |group|}}
      <tr><td>{{group.name}}</td></tr>
    {{/each}}
    </table>
  {{/if}}
{{/collapsible-division}}

<button {{action "manageAuthorizationsUser" user}}>manage authorizations</button>